{# Edit action template for Categories controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Edit category'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Edit category'|trans }}
    </h1>
    <form action="{{ url('categories_edit', {'id':id}) }}" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" name="submit" value="{{ 'Save'|trans }}" />
    </form>
{% endblock %}
